rect,
path,
svg {
  transition: all 1s ease;
}

g {
  position: relative;
}

text {
  transition: transform 1s;
}

.nbHosp {
  fill: red;
  stroke: white;
  font-size: 9px;
}

g.tick > text {
  font-size: 0.5rem;
}

@media only screen and (min-width: 640px) {
  g.tick > text {
    font-size: 0.3rem;
  }
}

@media only screen and (min-width: 1280px) {
  g.tick > text {
    font-size: 0.15rem;
  }
}
